<md-content flex>
  <md-input-container>
    <md-select ng-model="ctrl.selectedSymbol" placeholder="Select a Symbol"
               ng-change="ctrl.getSelectedSymbol(Symbol)">
      <md-option ng-value="Symbol" ng-repeat="Symbol in ctrl.Symbols">{{ Symbol.Symbol }}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container>
    <md-select ng-model="ctrl.selectedChart" placeholder="Select a chart">
      <md-option ng-value="opt.slug" ng-repeat="opt in ctrl.Constants.chartTypes">{{ opt.title }}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container>
    <md-select multiple ng-model="ctrl.selectedExtras" placeholder="Select extras">
      <md-option ng-value="opt.slug" ng-repeat="opt in ctrl.Constants.chartExtras">{{ opt.title }}</md-option>
    </md-select>
  </md-input-container>

</md-content>
<md-content flex>
  <div style="height:500px;">
    <svg-chart positions="{}"
               selected-extras="ctrl.selectedExtras"
               selected-chart="ctrl.selectedChart"
               chart-data="ctrl.selectedSymbol.historicalData">
    </svg-chart>
  </div>
</md-content>
